<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'blog_home' %}">Django Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-column ml-lg-0 ml-3" id="navbarToggle">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a class="nav-item nav-link" href="{% url 'blog_home' %}">Home</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" href="{% url 'blog_about' %}">About</a>
                    </li>
                <!-- Navbar Right Side -->
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'wishlist_index' %}">Wish List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
                <!-- Navbar secondary -->
                {% if "blog" in request.path %}
                    {% if user.is_authenticated %}
                        {% include "blog/includes/sec_navbar.html" %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>
</header>