{% extends "blog/base.html" %}
{% block content %}
    {% for item in items %}
        <div class="card mb-5" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="[image]">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.author}}</h6>
                <p class="card-text">{{item.discription}}</p>
                <a href="{{item.url}}" class="btn btn-primary">Button</a>
            </div>
        </div>
    {% endfor %}
    {% include "blog/includes/paginator.html" %}
{% endblock content %}
